name: test artifacts
on: 
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: gen Upload1

        uses: actions/checkout@v3

        run: echo hello1 > world1.txt

      - name: Upload1

        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: world1.txt


      - name: gen Upload2

        uses: actions/checkout@v3

        run: echo hello2 > world2.txt

      - name: Upload2

        uses: actions/upload-artifact@v3
        with:
          name: my-artifact2
          path: world2.txt
